<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.TeacherDetailMapper">
	<select id="getAllInfoDetail" resultType="com.example.demo.model.AllTeacher">
		select t.id,t.realname,t.`name`,t.image,
		s.id sid,s.label slabel,
		g.id gid,g.label glabel,
		tt.ttid ttid,tt.type,
		tc.title tctitle,tc.content tccontent,tc.userId tcuserId,
		te.title tetitle,te.content tecontent,te.teacherId teteacherId,
		t.techtime ,t.techyear  ,t.isCollect,t.price,t.intro
		from teacher t
		LEFT JOIN `subject` s
		ON t.subjectId=s.id
		LEFT JOIN teacher_type tt
		ON t.tech_type=tt.ttid
		LEFT JOIN grade g
		ON t.gradeId=g.id
		LEFT JOIN teachercase tc
		ON tc.teacherId=t.id
		LEFT JOIN teacherexperience te
		ON te.teacherId=t.id
		where t.id=#{id}
	</select>
	
	<update id="UpdateIsCollect"  parameterType="com.example.demo.model.AllTeacher3">
	      update teacher set isCollect=1
			where id=#{id}
	</update>
	
		<update id="UpdateAllIsCollect"  parameterType="com.example.demo.model.AllTeacher3">
	      update teacher set isCollect=0

	</update>
</mapper>